@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0
}

html {
  box-sizing: border-box;
  color: var(--black);
}

*, :after, :before {
  box-sizing: border-box;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 14px;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

/* global */

#root {
  position: relative;
}

:root {
  --main-color: #ffc03a;
  --sub-color: #555;
  --black: #181818;
  --white: #fff;
  --red: #dd0416;
  --D-gray: #838385;
  --M-gray: #c0c0c0;
  --L-gray: #e4e4e4;
  --S-L-gray: rgba(219, 219, 218, 0.5);
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 770px;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
  transition: all .05s linear;
}

button:hover {
  opacity: .9;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.inner {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .inner {
  flex-direction: column;
}

.warn {
  text-align: center;
}

.warn p {
  margin: 5px 0 40px;
  font-size: 18px;
  line-height: 1.8rem;
}

/* nav */

nav {
  height: 50px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 80.8%, .5);
}

nav, nav .inner, nav ul {
  display: flex;
  align-items: center;
}

nav .inner {
  margin: 0 auto;
  justify-content: space-between;
}

nav li+li {
  margin-left: 10px;
}

.logo {
  color: var(--main-color);
  font-weight: 900;
  font-size: 16px;
}

nav button {
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 20px;
  width: 70px;
  height: 28px;
  padding: 0 10px;
  font-size: 13px;
}

nav .login {
  border: 1px solid var(--L-gray);
  background-color: transparent;
  color: var(--black);
  margin-right: 5px;
}

nav .login:hover {
  background-color: var(--S-L-gray);
}

.write-btn {
  position: absolute;
  bottom: 140px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: var(--white);
  font-weight: 700;
  opacity: 1;
  background-color: var(--main-color);
  transition: all .08s linear;
}

.write-btn:hover {
  opacity: .9;
}

.write-btn.active {
  width: 100px;
  border-radius: 30px;
}

/* form */

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box, .select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

input:not(#images), .selected-value, .food-category, textarea, #placeName, .file-box {
  border: 1px solid var(--L-gray);
  height: 48px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  transition: all .05s linear;
}

input:focus {
  border: 1px solid var(--main-color);
}

.input-error {
  color: var(--red);
  font-size: 14px;
}

input::placeholder {
  color: var(--M-gray);
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  padding: 10px;
  height: 200px;
}

/* login */

.login-form button {
  font-size: 14px;
}

.sns-login {
  display: flex;
}

.sns-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
}

.sns-login button+button {
  margin-left: 10px;
}

.sns-login button[name="google"] {
  background-color: var(--white);
  border: 1px solid var(--L-gray);
}

.sns-login button[name="google"]:hover {
  background-color: var(--S-L-gray);
}

.sns-login button[name="github"] {
  background-color: #1d1d1b;
}

.sns-login button svg {
  margin-right: 5px;
  margin-top: 3px;
}

.login-form .signup {
  align-self: flex-end;
  width: max-content;
  margin-top: 10px;
  padding-bottom: 2px;
  font-size: 13px;
  color: var(--D-gray);
  border-bottom: 1px solid var(--D-gray);
}

.login-form .or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login-form .or span {
  margin: 0 10px;
  color: var(--M-gray);
}

.login-form hr {
  display: inline-block;
  background: var(--L-gray);
  width: 142px;
  height: 1px;
  border: 0;
}

/* note */

.note img {
  max-width: 150px;
}

/* detail */

.detail #map {
  width: 600px;
  height: 400px;
}

.detail img {
  max-width: 600px;
}

/* note form */

.note-form {
  width: 600px;
}

.input-wrap {
  display: flex;
}

.input-wrap .input-box, .select-box {
  width: 50%
}

.select-box {
  margin-left: 10px;
  position: relative;
  cursor: default;
}

.select-box .selected, .food-category {
  height: 100%;

}

.select-box .selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-box .selected-value {
  width: 100%;
  text-align-last: left;
}

.select-box .selected .arrow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--M-gray);
}

.select-box .selected .arrow:hover {
  color: var(--D-gray);
}

.food-category {
  position: absolute;
  left: 0;
  top: 73px;
  width: 100%;
  padding: 15px 10px;
  display: none;
  height: fit-content;
  z-index: 2;
  background-color: var(--white);
}

.food-category.active {
  display: block;
}

.food-category button {
  display: block;
}

.food-category button:hover {
  color: var(--main-color);
}

.food-category button+button {
  padding-top: 10px;
}

#placeName {
  cursor: default;
  text-align-last: left;
}

form button:not(.selected-value, .food-category button, #placeName) {
  height: 48px;
  color: var(--white);
  background-color: var(--main-color);
  padding: 15px;
  margin-top: 10px;
}

input[type="file"] {
  display: none;
}

.file-box {
  margin-bottom: 20px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-box label {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.drag-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed var(--L-gray);
  border-radius: 5px;
  width: 100%;
  padding: 30px 10px;
}

.drag-box svg, .drag-box span {
  color: var(--D-gray);
  margin-bottom: 5px;
}

.drag-box svg {
  margin-bottom: 15px;
}

.drag-box .drag-text {
  font-size: 18px;
}

.preview-box ul {
  display: flex;
  flex-wrap: wrap;
}

.preview-box ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  display: flex;
  height: 100px;
  border: 1px solid var(--L-gray);
  align-items: center;
}

.preview-box ul li+li {
  margin-left: 10px;
}

.preview-box ul:first-of-type li {
  margin-bottom: 10px;
  margin-top: 20px;
}

.preview-box .delete {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  opacity: .9;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.btn-wrap {
  display: flex;
}

.btn-wrap button {
  width: 50%;
}

.btn-wrap button+button {
  margin-left: 10px;
}

.sign-form button {
  width: 155px;
}

.back {
  background-color: var(--L-gray);
  color: var(--black);
  font-weight: 500;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid var(--L-gray);
  color: var(--black);
}

footer span {
  margin: 0 3px;
  color: var(--main-color);
  font-weight: 500;
}

@media screen and (max-width:1199.98px) {
  .inner {
    width: 90%;
  }
}

@media screen and (max-width:767.98px) {
  .note-form {
    width: 100%
  }

  .preview-box ul {}

  .preview-box ul li+li {}
}

@media screen and (max-width:575.98px) {

  #map {
    height: 250px !important;
  }
}