/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400
}

ul {
  list-style: none
}

button, input, select {
  margin: 0
}

html {
  box-sizing: border-box
}

*, :after, :before {
  box-sizing: inherit
}

img, video {
  height: auto;
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}

/* global */

:root {
  --main-color: #ffc03a;
  --sub-color: #555;
  --black: #181818;
  --white: #fff;
  --red: #dd0416;
  --D-gray: #8b8b8e;
  --M-gray: #b9b9bb;
  --L-gray: #cfcfcf;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  height: 48px;
  padding: 15px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--main-color);
  transition: all .05s linear;
  margin-top: 10px;
}

input::placeholder {
  color: var(--L-gray);
}

/* form */
h1 {
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
}

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
}

input {
  border: 1px solid var(--L-gray);
  height: 48px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  transition: all .05s linear;
}

input:focus {
  border: 1px solid var(--main-color);
}

.input-error {
  color: var(--red);
  font-size: 14px;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}