@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0
}

html {
  box-sizing: border-box;
  color: var(--black);
}

*, :after, :before {
  box-sizing: border-box;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 14px;
}

img, video {
  position: relative;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold !important;
}

/* global */

#root {
  position: relative;
}

:root {
  --main-color: #ffbd2e;
  --sub-color: #555;
  --black: #181818;
  --white: #fff;
  --red: #dd0416;
  --D-gray: #88888a;
  --M-gray: #bbb9b9;
  --L-gray: #e4e4e4;
  --S-L-gray: rgba(219, 219, 218, 0.5);
}

::selection {
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--M-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--S-L-gray);
  border-radius: 10px;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
  /* background-color: #f1ede7; */
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
  transition: all .08s linear;
}

button:hover {
  opacity: .9;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.inner {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .inner {
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 77vh;
}

.warn {
  text-align: center;
  place-self: center;
  position: absolute;
  top: 50%;
}

.warn p {
  font-size: 18px;
  line-height: 1.8rem;
}

.loading.false {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: #d4d2d0;
  background: linear-gradient(110deg, #d4d2d0 15%, #ebeae8 30%, #d4d2d0 45%);
  background-size: 200% 100%;
  animation: shine 1.5s ease infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* nav */

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--S-L-gray);
  background-color: var(--white);
  z-index: 2;
}

nav, nav .inner, nav ul {
  display: flex;
  align-items: center;
}

nav .inner {
  margin: 0 auto;
  justify-content: space-between;
}

nav li+li {
  margin-left: 10px;
}

.logo {
  color: var(--main-color);
  font-weight: 900;
  font-size: 16px;
}

nav button {
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 20px;
  width: 70px;
  height: 28px;
  padding: 0 10px;
  font-size: 13px;
}

nav .login {
  border: 1px solid var(--L-gray);
  background-color: transparent;
  color: var(--black);
  margin-right: 5px;
}

nav .login:hover {
  background-color: var(--S-L-gray);
}

.write-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: var(--white);
  font-weight: 700;
  opacity: 1;
  background-color: var(--main-color);
  transition: all .08s linear;
}

.write-btn:hover {
  opacity: .9;
}

.write-btn.active {
  width: 100px;
  border-radius: 30px;
}

.write-btn .text {
  display: none;
}

.write-btn .text.on {
  display: block;
}

/* home */

.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.search .category {
  display: flex;
  align-items: center;
}

.search .category li::before {
  content: "#";
  color: var(--M-gray);
  margin-right: 2px;
}

.search .category li {
  border: 1px solid var(--L-gray);
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .05s linear;
}

.search .category li+li {
  margin-left: 10px;
}

.search .category li:hover, .search .category li.active {
  border: 1px solid var(--M-gray);
}

.search .select-box {
  margin: 0;
  width: 150px;
  height: 100%;
}

.search .selected-value {
  height: 35px;
  font-size: 14px;
}

.search .sort {
  top: 34px;
  border: 1px solid var(--L-gray);
  border-radius: 5px;
}

.search .select-box .selected .arrow {
  right: 5px;
  bottom: 2px;
}

/* form */

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box, .select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

input:not(#images), .selected-value, .food-category, textarea, #placeName, .file-box {
  border: 1px solid var(--L-gray);
  height: 48px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  transition: all .05s linear;
}

input:focus {
  border: 1px solid var(--main-color);
}

.input-error {
  color: var(--red);
  font-size: 14px;
}

input::placeholder {
  color: var(--M-gray);
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  padding: 10px;
  height: 200px;
}

/* login */

.login-form button {
  font-size: 14px;
}

.sns-login {
  display: flex;
}

.sns-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
}

.sns-login button+button {
  margin-left: 10px;
}

.sns-login button[name="google"] {
  background-color: var(--white) !important;
  border: 1px solid var(--L-gray);
}

.sns-login button[name="google"]:hover {
  background-color: var(--S-L-gray);
}

.sns-login button[name="github"] {
  background-color: #1d1d1b !important;
}

.sns-login button svg {
  margin-right: 5px;
  margin-top: 3px;
}

.login-form .signup {
  align-self: flex-end;
  width: max-content;
  margin-top: 10px;
  padding-bottom: 2px;
  font-size: 13px;
  color: var(--D-gray);
  border-bottom: 1px solid var(--D-gray);
}

.login-form .or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-form .or span {
  margin: 0 10px;
  color: var(--M-gray);
}

.login-form hr {
  display: inline-block;
  background: var(--L-gray);
  width: 142px;
  height: 1px;
  border: 0;
}

/* note */

.notes-wrap {
  margin: -0.75rem;
}

.notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.note {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  /* width: 240px; */
  height: 400px;
  margin-bottom: 26px;
  border: 1px solid #e2dddc;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 5px 5px 10px var(--S-L-gray);
  overflow: hidden;
  margin: 0.75rem;
}

.note:first-of-type {}

.note .img-wrap {
  display: flex;
  align-items: center;
  align-self: center;
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
}

.note .img-wrap img {
  width: 100%;
}

.note .imgcount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: default;
  border-top-left-radius: 5px;
}

.note span {
  font-weight: 500;
}

.note span:nth-of-type(2) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note .content-wrap {
  display: flex;
  flex-direction: column;
  padding: 12.5px 15px 0;
  flex: auto;
}

.note .date {
  display: flex;
  align-items: center;
}

.note .date svg {
  margin-right: 5px;
}

.note .category {
  border-right: 2px solid var(--L-gray);
  padding-right: 5px;
  margin-right: 5px;
}

.note .place {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
  text-wrap: nowrap;
  align-items: center;
}

.note .place svg {
  min-width: 14px;
  margin-right: 5px;
}

.note .content-wrap p {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.note .bottom-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 15px 15px;
}

.note .more span {
  font-weight: 700;
  line-height: 18px;
}

.note .more {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 15px;
  color: var(--black);
  transition: all .08s linear;
}

.note .more:hover {
  color: var(--main-color);
}

/* detail */

.detail {
  width: 680px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e2dddc;
  background-color: var(--white);
  box-shadow: 5px 5px 10px var(--S-L-gray);
}

.detail span, .detail .text p {
  font-size: 15px;
}

.detail .info-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.detail .title {
  font-weight: 700;
  margin-right: 5px;
}

.detail .place {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--L-gray);
}

.detail .placename {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail .placename .title {
  font-size: 18px;
}

.detail .placename span:last-of-type {
  margin-top: 1px;
  font-weight: 600;
}

.detail .placename a {
  height: 20px;
  color: var(--D-gray);
  transition: all .08s linear;
}

.detail .placename a:hover {
  color: var(--black);
}

.detail .place .address {
  display: flex;
  flex-direction: column;
  position: relative;
  width: max-content;
  height: 34px;
}

.detail .place .address>span {
  font-weight: 500;
}

.detail .place .address>span:last-of-type {
  color: var(--D-gray);
  font-size: 14px;
}

.detail .place .address a:hover {
  color: var(--black);
}

.detail .date {
  padding-top: 10px;
  color: var(--D-gray);
}

.detail .date span {
  font-size: 14px;
}

.detail .date span:first-of-type::after {
  content: "·";
  font-weight: 700;
  margin: 0 3px;
  color: var(--M-gray);
}

.detail .img-wrap {
  position: relative;
  display: flex;
  height: 200px;
  overflow: hidden;
}

.detail .img-wrap .slider {
  transition: all .5s ease;
}

.detail .img-wrap ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail .img-wrap ul li {
  position: relative;
  width: auto;
  min-height: 200px;
}

.detail .img-wrap ul li img {
  max-width: 100%;
  min-width: 319px;
}

.detail .img-wrap ul li::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "크게보기";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all .08s linear;
}

.detail .img-wrap>ul>li:hover::after {
  opacity: 1;
  cursor: zoom-in;
}

.detail .modal {
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  position: fixed;
  height: 100%;
  backdrop-filter: blur(10px);
}

.detail .modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail .modal img {
  max-height: 90vh;
}

.detail .modal .close {
  position: absolute;
  opacity: .7;
  top: 20px;
  right: 20px;
}

.detail .modal .close:hover {
  opacity: 1;
}

.detail .slide-btns {
  display: flex;
  align-items: center;
}

.detail .slide-btns button {
  display: block;
  position: absolute;
  height: min-content;
  color: var(--white);
  font-family: 'Nanum Myeongjo', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

.detail .slide-btns button:hover {
  opacity: 1;
}

.detail .slide-btns .prev {
  left: 5px;
  padding-right: 5px;
}

.detail .slide-btns .next {
  right: 5px;
  padding-left: 5px;
}

.detail .slide-btns .prev.hide,
.detail .slide-btns .next.hide {
  display: none;
}

.detail p {
  padding-top: 15px;
  margin-bottom: 30px;
}

.detail .bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail .back {
  position: relative;
  left: -4px;
  display: flex;
  align-items: center;
  background: transparent;
}

.detail .back:hover {
  color: var(--main-color);
}

.detail .back span {
  font-weight: 700;
}

.detail .created-date {
  color: var(--M-gray);
  font-size: 14px;
}

/* note form */

.note-form {
  width: 680px;
  padding: 20px;
  background-color: var(--white);
}

.input-wrap {
  display: flex;
}

.input-wrap .input-box, .select-box {
  width: 50%
}

.select-box {
  margin-left: 10px;
  position: relative;
  cursor: default;
}

.select-box .selected, .food-category {
  height: 100%;
}

.select-box .selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-box .selected-value {
  width: 100%;
  text-align-last: left;
}

.select-box .selected .arrow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--M-gray);
  cursor: pointer;
}

.select-box .selected .arrow:hover {
  color: var(--D-gray);
}

.food-category, .sort {
  position: absolute;
  left: 0;
  top: 73px;
  width: 100%;
  padding: 15px 10px;
  display: none;
  height: fit-content;
  z-index: 2;
  background-color: var(--white);
}

.food-category.active, .sort.active {
  display: block;
}

.food-category button, .sort button {
  display: block;
}

.food-category button:hover, .sort button:hover {
  color: var(--main-color);
}

.food-category button+button,
.sort button+button {
  padding-top: 10px;
}

#placeName {
  cursor: default;
  text-align-last: left;
}

form button:not(.selected-value, .food-category button, #placeName, .back, .quill button) {
  height: 48px;
  color: var(--white);
  background-color: var(--main-color);
  padding: 15px;
}

input[type="file"] {
  display: none;
}

.file-box {
  margin-bottom: 20px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-box label {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.drag-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed var(--L-gray);
  border-radius: 5px;
  width: 100%;
  padding: 30px 10px;
}

.drag-box svg, .drag-box span {
  color: var(--D-gray);
  margin-bottom: 5px;
}

.drag-box svg {
  margin-bottom: 15px;
}

.drag-box .drag-text {
  font-size: 18px;
}

.preview-box ul {
  display: flex;
  flex-wrap: wrap;
}

.preview-box ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  display: flex;
  height: 100px;
  border: 1px solid var(--L-gray);
  align-items: center;
}

.preview-box ul li+li {
  margin-left: 10px;
}

.preview-box ul:first-of-type li {
  margin-bottom: 10px;
  margin-top: 20px;
}

.preview-box .delete {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  opacity: .9;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.ql-editor {
  height: 200px !important;
}

.btn-wrap {
  display: flex;
  margin-top: 20px;
}

.btn-wrap button {
  width: 50%;
}

.btn-wrap button+button {
  margin-left: 10px;
}

.sign-form button {
  width: 155px;
}

.back {
  background-color: var(--L-gray);
  color: var(--D-gray);
  font-weight: 500;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid var(--S-L-gray);
  color: var(--black);
}

footer span {
  margin: 0 3px;
  color: var(--main-color);
  font-weight: 500;
}

@media screen and (max-width:1199.98px) {
  .inner {
    width: 90%;
  }

  .note {
    height: 360px;
    margin-right: 0;
    margin: 0.75rem;
  }

  .note .img-wrap {
    width: auto;
    height: 60%;
  }

  .note .img-wrap>div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
  }

  .note .content-wrap {
    height: 35%;
  }
}

/* 타블렛  */
@media screen and (max-width:991.98px) {

  .search .category {
    overflow-x: auto;
    text-wrap: nowrap;
    mask: linear-gradient(90deg, transparent 0, #fff 15px, #fff calc(100% - 15px), transparent 100%);
    -webkit-mask: linear-gradient(90deg, transparent 0, #fff 15px, #fff calc(100% - 15px), transparent 100%);
    padding: 0 10px 5px;
  }

  .search .category li+li {
    margin-left: 0;
  }

  .search .category li {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .search .select-box {
    margin-left: 10px;
  }

  .note {
    height: 320px;
  }

  .note * {
    font-size: 13px
  }

  .note .img-wrap {
    height: 52%;
  }

  .note .imgcount {
    width: 30px;
    height: 30px;
    font-size: 11px;
    font-weight: 600;
  }

}

/* 스마트폰 가로 */
@media screen and (max-width:767.98px) {

  .note-form {
    width: 100%
  }

  .search .select-box {
    width: auto;
  }

  .search .selected-value, .sort button {
    font-size: 13px;
    width: 125px;
  }

  .sort button {
    text-align: left;
    width: auto;
  }

  .notes {
    grid-template-columns: repeat(3, 1fr);
  }

  .note {
    height: 340px;
  }

  .note .img-wrap {
    height: 55%;
  }

  .detail {
    width: 100%;
  }

  .detail .img-wrap {
    height: 60vw;
  }

  .detail .img-wrap ul li img {
    min-width: 83.2vw;
  }

}

@media screen and (max-width:575.98px) {

  .notes {
    grid-template-columns: repeat(2, 1fr);
  }

  .search .category li, .search .category li::before {
    font-size: 13px;
  }

  #map {
    height: 250px !important;
  }

  input:not(#images), .selected-value, .food-category, textarea, #placeName {
    height: 40px;
    font-size: 14px;
  }

  .food-category, .sort {
    height: fit-content;
  }

  .food-category {
    top: 65px;
  }

  .select-box .selected .arrow {
    bottom: 5px;
  }

  .drag-box .drag-text {
    text-align: center;
    font-size: 16px;
  }

  .drag-box svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}