@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0
}

html {
  box-sizing: border-box;
  color: var(--black);
}

*, :after, :before {
  box-sizing: border-box;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 14px;
}

img, video {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

/* global */

#root {
  position: relative;
}

:root {
  --main-color: #ffc03a;
  --sub-color: #555;
  --black: #181818;
  --white: #fff;
  --red: #dd0416;
  --D-gray: #88888a;
  --M-gray: #bbb9b9;
  --L-gray: #e4e4e4;
  --S-L-gray: rgba(219, 219, 218, 0.5);
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 834px;
  background-color: #f1ede7;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
  transition: all .08s linear;
}

button:hover {
  opacity: .9;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.inner {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .inner {
  flex-direction: column;
}

.warn {
  text-align: center;
}

.warn p {
  margin: 5px 0 40px;
  font-size: 18px;
  line-height: 1.8rem;
}

/* nav */

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 80.8%, .5);
  background-color: var(--white);
  z-index: 2;
}

nav, nav .inner, nav ul {
  display: flex;
  align-items: center;
}

nav .inner {
  margin: 0 auto;
  justify-content: space-between;
}

nav li+li {
  margin-left: 10px;
}

.logo {
  color: var(--main-color);
  font-weight: 900;
  font-size: 16px;
}

nav button {
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 20px;
  width: 70px;
  height: 28px;
  padding: 0 10px;
  font-size: 13px;
}

nav .login {
  border: 1px solid var(--L-gray);
  background-color: transparent;
  color: var(--black);
  margin-right: 5px;
}

nav .login:hover {
  background-color: var(--S-L-gray);
}

.write-btn {
  position: absolute;
  bottom: 140px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: var(--white);
  font-weight: 700;
  opacity: 1;
  background-color: var(--main-color);
  transition: all .08s linear;
}

.write-btn:hover {
  opacity: .9;
}

.write-btn.active {
  width: 100px;
  border-radius: 30px;
}

.write-btn .text {
  display: none;
}

.write-btn .text.on {
  display: block;
}

/* form */

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-box, .select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

input:not(#images), .selected-value, .food-category, textarea, #placeName, .file-box {
  border: 1px solid var(--L-gray);
  height: 48px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  transition: all .05s linear;
}

input:focus {
  border: 1px solid var(--main-color);
}

.input-error {
  color: var(--red);
  font-size: 14px;
}

input::placeholder {
  color: var(--M-gray);
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  padding: 10px;
  height: 200px;
}

/* login */

.login-form button {
  font-size: 14px;
}

.sns-login {
  display: flex;
}

.sns-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
}

.sns-login button+button {
  margin-left: 10px;
}

.sns-login button[name="google"] {
  background-color: var(--white);
  border: 1px solid var(--L-gray);
}

.sns-login button[name="google"]:hover {
  background-color: var(--S-L-gray);
}

.sns-login button[name="github"] {
  background-color: #1d1d1b;
}

.sns-login button svg {
  margin-right: 5px;
  margin-top: 3px;
}

.login-form .signup {
  align-self: flex-end;
  width: max-content;
  margin-top: 10px;
  padding-bottom: 2px;
  font-size: 13px;
  color: var(--D-gray);
  border-bottom: 1px solid var(--D-gray);
}

.login-form .or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login-form .or span {
  margin: 0 10px;
  color: var(--M-gray);
}

.login-form hr {
  display: inline-block;
  background: var(--L-gray);
  width: 142px;
  height: 1px;
  border: 0;
}

/* note */

.notes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.note {
  margin-right: 21.3px;
}

.note:nth-of-type(4n) {
  margin-right: 0;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 400px;
  margin-bottom: 26px;
  border: 1px solid #e2dddc;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 5px 5px 10px var(--S-L-gray);
  overflow: hidden;
}

.note .img-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
}

.note .img-wrap img {
  width: 100%;
}

.note .img-wrap .imgcount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: default;
  border-top-left-radius: 5px;
}

.note span {
  font-weight: 500;
}

.note .content-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.note .date svg {
  margin-right: 5px;
}

.note .category::after {
  content: "";
  margin: 0 8px;
  font-size: 12px;
  border-right: 2px solid var(--L-gray);
}

.note .place {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}

.note .place svg {
  margin-right: 5px;
}

.note .content-wrap p {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.note .bottom-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 15px 15px;
}

.note .more span {
  font-weight: 700;
  line-height: 18px;
}

.note .more {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 15px;
  color: var(--black);
  transition: all .08s linear;
}

.note .more:hover {
  color: var(--main-color);
}

/* detail */

.detail {
  width: 680px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e2dddc;
  background-color: var(--white);
  box-shadow: 5px 5px 10px var(--S-L-gray);
}

.detail span, .detail p {
  font-size: 15px;
}

.detail .info-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.detail .title {
  font-weight: 700;
  margin-right: 5px;
}

.detail .place {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--L-gray);
}

.detail .placename {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail .placename .title {
  font-size: 18px;
}

.detail .placename span:last-of-type {
  margin-top: 1px;
  font-weight: 600;
}

.detail .placename a {
  height: 20px;
  color: var(--D-gray);
  transition: all .08s linear;
}

.detail .placename a:hover {
  color: var(--black);
}

.detail .place .address {
  display: flex;
  flex-direction: column;
}

.detail .place .address>span {
  font-weight: 500;
}

.detail .place .address>span:last-of-type {
  color: var(--D-gray);
  font-size: 14px;
}

.detail .place .address a:hover {
  color: var(--black);
}

.detail .date {
  padding-top: 10px;
  color: var(--D-gray);
}

.detail .date span {
  font-size: 14px;
}

.detail .date span:first-of-type::after {
  content: "·";
  font-weight: 700;
  margin: 0 3px;
  color: var(--M-gray);
}

.detail .img-wrap {
  position: relative;
  display: flex;
  height: 200px;
  overflow: hidden;
}

.detail .img-wrap .slider {
  transition: all .5s ease;
}

.detail .img-wrap ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail .img-wrap ul li {
  position: relative;
  width: auto;
}

.detail .img-wrap ul li img {
  max-width: 100%;
  min-width: 319px;
}

.detail .img-wrap ul li::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "크게보기";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all .08s linear;
}

.detail .img-wrap>ul>li:hover::after {
  opacity: 1;
  cursor: zoom-in;
}

.detail .modal {
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  position: fixed;
  height: 100%;
  backdrop-filter: blur(10px);
}

.detail .modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail .modal img {
  max-height: 800px;
}

.detail .modal .close {
  position: absolute;
  opacity: .7;
  top: 20px;
  right: 20px;
}
.detail .modal .close:hover {
  opacity: 1;
}

.detail .slide-btns {
  display: flex;
  align-items: center;
}

.detail .slide-btns button {
  display: block;
  position: absolute;
  height: min-content;
  color: var(--white);
  font-family: 'Nanum Myeongjo', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

.detail .slide-btns button:hover {
  opacity: 1;
}

.detail .slide-btns .prev {
  left: 5px;
  padding-right: 5px;
}

.detail .slide-btns .next {
  right: 5px;
  padding-left: 5px;
}

.detail .slide-btns .prev.hide,
.detail .slide-btns .next.hide {
  display: none;
}

.detail p {
  padding-top: 15px;
  margin-bottom: 30px;
  word-break: keep-all;
}

.detail .bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail .back {
  position: relative;
  left: -4px;
  display: flex;
  align-items: center;
  background: transparent;
}

.detail .back:hover {
  color: var(--main-color);
}

.detail .back span {
  font-weight: 700;
}

.detail .created-date {
  color: var(--M-gray);
  font-size: 14px;
}

/* note form */

.note-form {
  width: 680px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 5px 5px 10px var(--S-L-gray);
}

.input-wrap {
  display: flex;
}

.input-wrap .input-box, .select-box {
  width: 50%
}

.select-box {
  margin-left: 10px;
  position: relative;
  cursor: default;
}

.select-box .selected, .food-category {
  height: 100%;

}

.select-box .selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-box .selected-value {
  width: 100%;
  text-align-last: left;
}

.select-box .selected .arrow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--M-gray);
}

.select-box .selected .arrow:hover {
  color: var(--D-gray);
}

.food-category {
  position: absolute;
  left: 0;
  top: 73px;
  width: 100%;
  padding: 15px 10px;
  display: none;
  height: fit-content;
  z-index: 2;
  background-color: var(--white);
}

.food-category.active {
  display: block;
}

.food-category button {
  display: block;
}

.food-category button:hover {
  color: var(--main-color);
}

.food-category button+button {
  padding-top: 10px;
}

#placeName {
  cursor: default;
  text-align-last: left;
}

form button:not(.selected-value, .food-category button, #placeName, .back) {
  height: 48px;
  color: var(--white);
  background-color: var(--main-color);
  padding: 15px;
}

input[type="file"] {
  display: none;
}

.file-box {
  margin-bottom: 20px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-box label {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.drag-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed var(--L-gray);
  border-radius: 5px;
  width: 100%;
  padding: 30px 10px;
}

.drag-box svg, .drag-box span {
  color: var(--D-gray);
  margin-bottom: 5px;
}

.drag-box svg {
  margin-bottom: 15px;
}

.drag-box .drag-text {
  font-size: 18px;
}

.preview-box ul {
  display: flex;
  flex-wrap: wrap;
}

.preview-box ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  display: flex;
  height: 100px;
  border: 1px solid var(--L-gray);
  align-items: center;
}

.preview-box ul li+li {
  margin-left: 10px;
}

.preview-box ul:first-of-type li {
  margin-bottom: 10px;
  margin-top: 20px;
}

.preview-box .delete {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  opacity: .9;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.btn-wrap {
  display: flex;
  margin-top: 20px;
}

.btn-wrap button {
  width: 50%;
}

.btn-wrap button+button {
  margin-left: 10px;
}

.sign-form button {
  width: 155px;
}

.back {
  background-color: var(--L-gray);
  color: var(--D-gray);
  font-weight: 500;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid var(--L-gray);
  color: var(--black);
}

footer span {
  margin: 0 3px;
  color: var(--main-color);
  font-weight: 500;
}

@media screen and (max-width:1199.98px) {
  .inner {
    width: 90%;
  }
}

@media screen and (max-width:767.98px) {
  .note-form {
    width: 100%
  }

  .preview-box ul {}

  .preview-box ul li+li {}
}

@media screen and (max-width:575.98px) {

  #map {
    height: 250px !important;
  }
}